<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

  <setting propertyKey="@Properties.mail" title="@Strings.SettingMailTitle">
    <settingConfig type="email"/>
  </setting>

  <setting propertyKey="@Properties.password" title="@Strings.SettingPasswordTitle">
    <settingConfig type="password"/>
  </setting>

  <setting propertyKey="@Properties.pin" title="@Strings.SettingPinTitle">
    <settingConfig type="alphaNumeric" maxLength="32"/>
  </setting>

</settings>
